body {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
}
h1 {
  font-family: Playball;
  text-align: center;
  font-weight: 400;
  font-size: 4rem;
}
.container {
  width: 100%;
  text-align: center;
}
a {
  color: #fff;
}
a.navbar-item {
  margin: 1rem;
}
