body {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
}
h1 {
  font-family: Playball;
  text-align: center;
  font-weight: 400;
  font-size: 4rem;
}
.container {
  width: 100%;
  text-align: center;
}
a {
  color: #fff;
  text-decoration: none;
}
.navbar {
  .navbar-item {
    margin: 1rem;
  }

  ul {
    // background: #000;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  li {
    color: #fff;
    border: solid 1px;
    // background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    margin: 1rem;
  }

  li a {
    color: #fff;
  }

  li:hover {
    // background: red;
    cursor: pointer;
  }

  ul li ul {
    // background: #000;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    top: 35px;
    left: 0;
    display: none;

    li:hover {
      background: #000;
      a {
        text-decoration: underline;
      }
    }
  }

  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li ul li {
    clear: both;
    width: 100%;
    border: none;
    margin-top: 0.25rem;
    margin-left: 0;
    background: #000;
  }
}
